{
// "storage_path" : "/home/user/.sync",
  "use_upnp" : true,
  "pid_file": "{{home}}/.config/resilio-sync/sync.pid",

  "webui" :
  {
    "listen" : "127.0.0.1:8888" // remove field to disable WebUI
    ,"login" : "{{username}}"
    ,"password" : ""
    ,"allow_empty_password" : true // Defaults to true
  }
}
