{
   "device_name": "Akcja Sync",
// "storage_path" : "/home/user/.sync",
  "use_upnp" : true,

  "webui" :
  {
    "listen" : "127.0.0.1:8888" // remove field to disable WebUI
    ,"login" : "{{username}}"
    ,"password" : ""
    ,"allow_empty_password" : true // Defaults to true
  }
}
