---
# this arc-theme repo displays a verification failed error
# so we download deb file and install from file.
#    - "deb https://download.opensuse.org/repositories/home:/Horst3180/xUbuntu_16.04/ /"
    
# - name: Add Arc theme key
#   apt_key:
#     url: http://download.opensuse.org/repositories/home:Horst3180/xUbuntu_16.04/Release.key
#     state: present

# - name: Add Skype key
#   apt_key:
#     url: https://repo.skype.com/data/SKYPE-GPG-KEY
#     state: present

- name: Add repo
  apt_repository: 
    repo: "{{item}}"
    state: present
  with_items:
    - "deb http://eddie.website/repository/apt stable main"
    - ppa:nextcloud-devs/client
    - ppa:libreoffice/ppa
    - ppa:philip.scott/elementary-tweaks
    #- "deb [arch=amd64] https://download.newrelic.com/infrastructure_agent/linux/apt xenial main"
    - ppa:phoerious/keepassxc
    - "deb [arch=amd64] https://updates.signal.org/desktop/apt xenial main"
    # - ppa:peek-developers/stable

- name: Remove arc theme repo
  apt_repository:
    repo: ppa:moka/daily
    state: absent

- name: Accept the EULA for MS core fonts
  shell: "echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | debconf-set-selections"


- name: Install all necessary packages and update the system
  apt:
    name: "{{item}}"
    state: present
    update_cache: true
    force: yes
  #apt:  name={{item}} state=present update_cache=true force=yes
  with_items:
    - apt-transport-https
    - systemd-container
    - snapd
    - gnome-shell
    - chrome-gnome-shell
    - nemo
    - chromium-browser
    - thunderbird
    - ubuntu-restricted-addons # flash, mpeg, etc.
    - audacity
    - gimp
    - ttf-mscorefonts-installer
    - vim
    - git 
    - imagemagick 
    - fortune-mod
    - htop
    - dconf-editor
    - gnome-tweak-tool
    - sysstat
    - texlive-xetex
    - texlive-latex-extra
    - texlive-lang-polish
    - texlive-latex-recommended
    - texlive-fonts-recommended
    - texlive-fonts-extra
    - gscan2pdf
    - network-manager-openvpn-gnome
    - airvpn
    #- nextcloud-client
    #- moka-icon-theme
    #- faba-icon-theme
    #- vlc
    #- newrelic-infra 
    - keepassxc
    - deja-dup
    - duplicity
    - python-gi
    - signal-desktop
    - xul-ext-lightning
    - plymouth-themes
    - libreoffice
    - openssh-server
    - firefox
    - software-properties-common
    - elementary-tweaks
    #- peek
    #- skypeforlinux # <- not in cosmic repo again
    # - slack-desktop # <- not in cosmic repo again
  

- name: Install all packages on cosmic
  apt: name={{item}} state=present update_cache=true force=yes
  with_items:
    - peek
  when: ansible_distribution_release == 'cosmic'

- name: Install snap
  shell: apt install snapd 
 
- name: Install slack from snap
  shell: snap install slack --classic 
  
- name: Run AirVPN on startup
  copy:
    src: ../files/AirVPN.desktop
    dest: "{{home}}/.config/autostart/AirVPN.desktop"
    mode: 0755

- copy:
    src: "../files/{{item}}"
    dest: "/tmp/{{item}}"
  with_items: "{{bundled_packages}}"

- name: Install packages from bundled deb files
  apt:
    deb: "/tmp/{{item}}"
    state: present
    #force: yes
  with_items: "{{bundled_packages}}"
  ignore_errors: true

- name: Download bundled packages to /tmp/
  get_url:
    url: "{{item}}"
    dest: "/tmp/{{item | basename}}"
  with_items: "{{bundled_urls}}"
  
- name: Install packages from bundled urls
  apt:
    deb: "/tmp/{{item | basename}}"
    state: present
  with_items: "{{bundled_urls}}"
  ignore_errors: true

- name: Copy theme folder
  copy:
    src: /opt/akcja/akcja-stacja/themes/akcja
    dest: /usr/share/plymouth/themes/  
    follow: yes

- name: Set Plymouth configuration to use theme
  shell: sudo ln -sf /lib/plymouth/themes/akcja/akcja.plymouth /etc/alternatives/default.plymouth && sudo ln -sf /lib/plymouth/themes/akcja/akcja.grub /etc/alternatives/default.plymouth.grub 

- name: Apply Plymouth configuration 18.04+
  shell: sudo update-initramfs -u

- name: Use double-click in file manager
  shell: gsettings set io.elementary.files.preferences single-click false
  
- name: Disable screen rotation
  shell: gsettings set org.gnome.settings-daemon.peripherals.touchscreen orientation-lock true
# - name: Overwriting logo_blurred.png
#   copy:
#     src: /tmp/logo_blurred.png
#     dest: /usr/share/plymouth/themes/elementary  
#     follow: yes